[app]
debug = True
# Seconds from 1, step 1
timeout = 5

[logger.file]
# debug, info, success, warning, error
level = error
path = logs/hv.log

[logger.stdout]
# debug, info, success, warning, error
level = success
colorize = True

[filters]
path = filters.yaml